<style type="text/css">
    body,
    div,
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td,
    p {
        font-family: "Arial";
        font-size: x-small
    }

    a.comment-indicator:hover+comment {
        background: #ffd;
        position: absolute;
        display: block;
        border: 1px solid black;
        padding: 0.5em;
    }

    a.comment-indicator {
        background: red;
        display: inline-block;
        border: 1px solid black;
        width: 0.5em;
        height: 0.5em;
    }

    comment {
        display: none;
    }

</style>



<body>
    <table cellspacing="0" border="0">
        <colgroup width="32"></colgroup>
        <colgroup width="87"></colgroup>
        <colgroup width="236"></colgroup>
        <colgroup width="55"></colgroup>
        <colgroup width="122"></colgroup>
        <colgroup width="150"></colgroup>
        <colgroup width="132"></colgroup>
        <colgroup width="30"></colgroup>
        <tr>
            <td height="19" align="left" valign=middle bgcolor="#FF5722"><a class="comment-indicator"></a>
                <comment>change this to your brand color
                    -Soroush Khodaii</comment>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" size=5 color="#A5A5A5"><br></font>
                </b></td>
            <td align="left" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" size=5 color="#A5A5A5"><br></font>
                </b></td>
            <td align="left" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="left" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="left" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="right" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="right" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
        </tr>
        <tr>
            <td colspan=2 rowspan=5 height="127" align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br><img src="s94uu-7ifzu_html_872336b63afc41ba.png" width=98
                        height=98 hspace=11 vspace=16>
                </font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" size=5 color="#A5A5A5"><br></font>
                </b></td>
            <td align="left" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="left" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="left" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="right" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
            <td align="right" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" size=6 color="#4472C4"><br></font>
                </b></td>
        </tr>
        <tr>
            <td align="left" valign=top bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F">&lt;Your Company Name&gt;</font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=5 color="#7F7F7F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#F3F3F3">
                <font face="Roboto"><br></font>
            </td>
            <td rowspan=3 align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=5 color="#7F7F7F"> INVOICE</font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=5 color="#7F7F7F"><br></font>
            </td>
        </tr>
        <tr>
            <td align="left" valign=top bgcolor="#F3F3F3">
                <font face="Roboto" size=1 color="#333F4F">&lt;Your address&gt;</font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=5 color="#7F7F7F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#F3F3F3">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=5 color="#7F7F7F"><br></font>
            </td>
        </tr>
        <tr>
            <td align="left" valign=top bgcolor="#F3F3F3">
                <font face="Roboto" size=1 color="#333F4F">&lt;Your contact details&gt;</font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=5 color="#7F7F7F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#F3F3F3">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=5 color="#7F7F7F"><br></font>
            </td>
        </tr>
        <tr>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#FFFFFF"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td style="border-bottom: 1px solid #bfbfbf" align="center" valign=middle bgcolor="#F3F3F3"
                sdnum="1033;0;M/D/YYYY"><b>
                    <font face="Roboto" color="#1F3864">DATE</font>
                </b></td>
            <td align="center" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" color="#1F3864"><br></font>
                </b></td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom bgcolor="#F3F3F3">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3" sdnum="1033;0;MM/DD/YY">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3" sdnum="1033;1033;M/D/YYYY">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3" sdnum="1033;1033;M/D/YYYY">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom bgcolor="#F3F3F3">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#FFFFFF"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td style="border-bottom: 1px solid #bfbfbf" align="center" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" color="#1F3864">INVOICE NO.</font>
                </b></td>
            <td align="center" valign=middle bgcolor="#F3F3F3"><b>
                    <font face="Roboto" color="#1F3864"><br></font>
                </b></td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom bgcolor="#F3F3F3">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="center" valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td colspan=2 align="center" valign=middle>
                <font face="Roboto" color="#FFFFFF"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#FFFFFF"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#0070C0"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#0070C0"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td colspan=3 align="right" valign=top><i>
                    <font face="Roboto" color="#333F4F">&lt;Payment terms (due on receipt, due in X days)&gt;</font>
                </i></td>
            <td align="right" valign=top><i>
                    <font face="Roboto" color="#333F4F"><br></font>
                </i></td>
        </tr>
        <tr>
            <td height="21" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-bottom: 1px solid #bfbfbf" colspan=2 align="left" valign=middle><b>
                    <font face="Roboto" color="#1F3864">BILL TO</font>
                </b></td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td style="border-bottom: 1px solid #bfbfbf" align="left" valign=middle><a class="comment-indicator"></a>
                <comment>optional, remove if not needed
                    -Soroush Khodaii</comment>
                <b>
                    <font face="Roboto" color="#1F3864">SHIP TO</font>
                </b>
            </td>
            <td style="border-bottom: 1px solid #bfbfbf" align="left" valign=middle>
                <font face="Roboto" color="#1F3864"><br></font>
            </td>
            <td style="border-bottom: 1px solid #bfbfbf" align="left" valign=middle>
                <font face="Roboto" color="#1F3864"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#1F3864"><br></font>
            </td>
        </tr>
        <tr>
            <td height="6" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td colspan=2 align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Contact Name&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Name / Dept&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td colspan=2 align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Client Company Name&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Client Company Name&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td colspan=2 align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Address&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Address&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td colspan=2 align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Phone&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Phone&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td colspan=2 align="left" valign=middle>
                <font face="Roboto" color="#000000">&lt;Email&gt;</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td colspan=3 align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="6" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td colspan=3 align="center" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" color="#FFFFFF">DESCRIPTION</font>
                </b></td>
            <td align="center" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" color="#FFFFFF">QTY</font>
                </b></td>
            <td align="center" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" color="#FFFFFF">UNIT PRICE</font>
                </b></td>
            <td align="center" valign=middle bgcolor="#FF5722"><b>
                    <font face="Roboto" color="#FFFFFF">TOTAL</font>
                </b></td>
            <td align="center" valign=middle><b>
                    <font face="Roboto" color="#1F3864"><br></font>
                </b></td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-top: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                colspan=3 align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-top: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-top: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-top: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                align="right" valign=middle sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle
                bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle
                bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle
                bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle
                bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" colspan=3 align="left"
                valign=middle bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="center" valign=middle
                bgcolor="#F3F3F3">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-left: 1px solid #999999; border-right: 1px solid #999999" align="right" valign=middle
                bgcolor="#F3F3F3" sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="24" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td style="border-bottom: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                colspan=3 align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-bottom: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-bottom: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td style="border-bottom: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999"
                align="right" valign=middle sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="right" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="26" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000">Remarks / Payment Instructions:</font>
            </td>
            <td align="left" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="right" valign=bottom><b>
                    <font face="Roboto" size=3 color="#333F4F"><br></font>
                </b></td>
            <td align="right" valign=middle><b>
                    <font face="Roboto" size=1 color="#333F4F">SUBTOTAL</font>
                </b></td>
            <td style="border-bottom: 1px solid #bfbfbf" align="right" valign=middle sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="left" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="26" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td colspan=2 rowspan=5 align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="right" valign=bottom><b>
                    <font face="Roboto" size=3 color="#333F4F"><br></font>
                </b></td>
            <td align="right" valign=middle><b>
                    <font face="Roboto" size=1 color="#333F4F">DISCOUNT</font>
                </b></td>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="left" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="26" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="right" valign=bottom><b>
                    <font face="Roboto" size=3 color="#333F4F"><br></font>
                </b></td>
            <td align="right" valign=middle><b>
                    <font face="Roboto" size=1 color="#333F4F">SUBTOTAL LESS DISCOUNT</font>
                </b></td>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="left" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="26" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="right" valign=bottom><b>
                    <font face="Roboto" size=3 color="#333F4F"><br></font>
                </b></td>
            <td align="right" valign=middle><b>
                    <font face="Roboto" size=1 color="#333F4F">TAX RATE</font>
                </b></td>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00%">
                <font face="Roboto" color="#000000">0.00%</font>
            </td>
            <td align="left" valign=middle sdnum="1033;0;0.00%">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="26" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="right" valign=bottom><b>
                    <font face="Roboto" size=3 color="#333F4F"><br></font>
                </b></td>
            <td align="right" valign=middle><b>
                    <font face="Roboto" size=1 color="#333F4F">TOTAL TAX</font>
                </b></td>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf" align="right" valign=middle
                sdval="0" sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="left" valign=middle sdnum="1033;0;0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="26" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#000000"><br></font>
            </td>
            <td align="right" valign=bottom><b>
                    <font face="Roboto" size=3 color="#333F4F"><br></font>
                </b></td>
            <td align="right" valign=middle><b>
                    <font face="Roboto" size=1 color="#333F4F">SHIPPING/HANDLING</font>
                </b></td>
            <td style="border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf" align="right" valign=middle
                sdval="0" sdnum="1033;0;#,##0.00">
                <font face="Roboto" color="#000000">0.00</font>
            </td>
            <td align="left" valign=middle sdnum="1033;0;#,##0.00">
                <font face="Roboto" color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="45" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=5 color="#333F4F"><br></font>
            </td>
            <td colspan=2 align="center" valign=middle>
                <font face="Roboto" size=5 color="#333F4F"><br></font>
            </td>
            <td align="right" valign=bottom><b>
                    <font face="Roboto" size=3 color="#333F4F"><br></font>
                </b></td>
            <td style="border-top: 1px solid #000000" align="right" valign=middle><b>
                    <font face="Roboto" size=3 color="#333F4F">Balance Due</font>
                </b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="right" valign=middle
                bgcolor="#F4CCCC" sdval="0"
                sdnum="1033;0;_-&quot;$&quot;* #,##0.00_-;-&quot;$&quot;* #,##0.00_-;_-&quot;$&quot;* &quot;-&quot;??_-;_-@">
                <b>
                    <font face="Roboto" size=4> $- </font>
                </b>
            </td>
            <td align="left" valign=middle
                sdnum="1033;0;_-&quot;$&quot;* #,##0.00_-;-&quot;$&quot;* #,##0.00_-;_-&quot;$&quot;* &quot;-&quot;??_-;_-@">
                <b>
                    <font face="Roboto"><br></font>
                </b>
            </td>
        </tr>
        <tr>
            <td height="13" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td colspan=5 align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="13" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
        </tr>
        <tr>
            <td height="21" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle><i>
                    <font face="Roboto" color="#333F4F"><br></font>
                </i></td>
            <td colspan=5 align="center" valign=middle><i>
                    <font face="Roboto" color="#333F4F"><br></font>
                </i></td>
            <td align="center" valign=middle><i>
                    <font face="Roboto" color="#333F4F"><br></font>
                </i></td>
        </tr>
        <tr>
            <td height="21" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td colspan=5 align="center" valign=middle>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="center" valign=middle>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
        </tr>
        <tr>
            <td height="28" align="left" valign=bottom>
                <font face="Roboto" size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=bottom>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td colspan=5 align="center" valign=bottom>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
            <td align="center" valign=bottom>
                <font face="Roboto" color="#333F4F"><br></font>
            </td>
        </tr>
        <tr>
            <td height="21" align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom>
                <font face="Roboto"><br></font>
            </td>
        </tr>
        <tr>
            <td height="21" align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
            <td align="left" valign=bottom bgcolor="#FF5722">
                <font face="Roboto"><br></font>
            </td>
        </tr>
    </table>
</body>
