<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card position-relative">
                <div class="card-body">
                    <div class="row" id="new-transaction-row">
                        <div class="col-lg-6">
                            <h3 class="font-weight-bold text-gray" id="lt-sp-2">DEAL MEMO</h3>
                        </div>
                        <div class="col-lg-6 text-right">
                            <img src="https://tradersofafrica.com/main/img/logo.png" style="max-width: 25%"
                                class="img-fluid" />
                        </div>
                    </div>
                    <div class="row mt-5 pb-2 border-bottom">
                        <div class="col-lg-6">
                            <h5><b>Buyer Details</b></h5>
                            <p>Badmos</p>
                            <p>08083026554</p>
                            <p>Oyo</p>
                        </div>
                        <div class="col-lg-6">
                            <h5><b>Supplier Details</b></h5>
                            <p>Tunde</p>
                            <p>08083026554</p>
                            <p>Niger</p>
                        </div>
                    </div>
                    <div class="row pb-2 mt-3">
                        <div class="col-lg-6">
                            <p>Ref Number: 1608481274</p>
                            <p>Date: Dec 20, 2020</p>
                            <p>EDD:
                                ----
                            </p>
                        </div>
                    </div>
                    <div class="row pb-2 mt-3">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-stripped">
                                    <thead class="bg-primary text-white p-0">
                                        <tr class="p-1">
                                            <th>Description</th>
                                            <th>Qty</th>
                                            <th>Unit Price</th>
                                            <th>Amount</th>
                                            <th>Within 2 WEEK(S) @2%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Trucking / Transportation</td>
                                            <td></td>
                                            <td></td>
                                            <td>&#8358;120,000</td>
                                            <td>&#8358;122,400
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>QC Test</td>
                                            <td></td>
                                            <td></td>
                                            <td>&#8358;20,000</td>
                                            <td>&#8358;20,400
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Accomodation Cost</td>
                                            <td></td>
                                            <td></td>
                                            <td>&#8358;20,000</td>
                                            <td>&#8358;20,400
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Loading Expenses</td>
                                            <td></td>
                                            <td></td>
                                            <td>&#8358;60,000</td>
                                            <td>&#8358;61,200
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Paper Expenses</td>
                                            <td></td>
                                            <td></td>
                                            <td>&#8358;400,000</td>
                                            <td>&#8358;408,000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Tonnage</td>
                                            <td></td>
                                            <td></td>
                                            <td>&#8358;30,000</td>
                                            <td>&#8358;30,600
                                            </td>
                                        </tr>
                                        <tr class="font-weight-bold">
                                            <td>Soya Bean</td>
                                            <td>23</td>
                                            <td>&#8358;200.00 <small>(Selling Price)</small>
                                            </td>
                                            <td>&#8358;4,600
                                            </td>
                                            <td>
                                                &#8358;4,692
                                            </td>
                                        </tr>
                                        <tr class="font-weight-bold">
                                            <td>Less (COS)</td>
                                            <td>23</td>
                                            <td>&#8358;155.67 <small>(Landing Cost)</small>
                                            </td>
                                            <td>&#8358;3580.41
                                            </td>
                                            <td>
                                                &#8358;3652.0182
                                            </td>
                                        </tr>
                                        <tr class="font-weight-bold">
                                            <td></td>
                                            <td>
                                                                                                    <b class="text-success">Profit</b>
                                                                                            </td>
                                            <td>&#8358;44.33
                                            </td>
                                            <td>&#8358;1019.59
                                            </td>
                                            <td>&#8358;1039.9818
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
